html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.header {
  background-color: #d05c2e;
  color: #fff;
}

.header li {
  list-style-type: none;
  width: 33.333%;
}

.header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header ul {
  display: flex;
  padding: 0;
  margin: 0;
  border: 1px solid #a63f38;
}

.header a {
  display: block;
  font-size: 1.125rem;
  text-align: center;
  padding: .5em 0;
  text-decoration: none;
  color: #fff;
}

.header a:hover {
  background-color: #a63f38;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

body {
  margin: 0;
  background-color: #fff;
}

img {
  width: 40px;
}
